go 1.22.2

use (
	./apps/bitget
	./apps/gateway
	./apps/messenger
	./apps/telegram
	./apps/tiktok
	./apps/zalo
	// ---
	./modules/bitget
	./modules/messenger
	./modules/shopee
	./modules/telegram
	./modules/tiktok
	./modules/zalo
)
